.d{
    display: flex;padding-left: 30px;padding-right: 30px;gap: 10px;
}
.d1{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
}
.out{
    border-radius: 2%;
    width: 240px;
    height:  395px;
    border-bottom-width: 2px;
    background-color:white;
    margin-block: 3px;
    text-align: left;
    outline-width: 1px;
    outline-color: gray;
    outline-style: solid;

}
.in{
    background-color:white;
    width: 208px;
    height: 251px;
   padding-left: 14px;
   padding-top: 14px;
   padding: 12px;
}
.price{
    width: 208;
    gap: 16px;
}
.disp{
    display: flex;
    padding: 40px;
}